local-data/
.build/
sdk/.toolchain/
*.exe
*.o
*.elf
*.map
*.log
*.iso
*.bin
*.chd
*.img
*.sav
*.zip
*.tar.xz
*.pak
*.bda
RoadTest.bda
RoadRash.bda
Rash.pak
Rash.pak.tmp
RoadRash-9588-no-video.zip
RoadRash-9588-no-video.zip.tmp
RoadRash-9588-no-video.tar.xz
RoadRash-9588-no-video.tar.xz.tmp
RoadRuntime.bda
RoadCanyon.bda
RoadCity.bda
RoadNapa.bda
RoadMedley.bda
test_core.exe
preview.ppm
preview.png
__pycache__/
